{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Панель{% endblock %}</title>

    <!-- Підключення CSS з додатку -->
    <link rel="stylesheet" href="{% static 'chat/css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        /* Для основного контейнера */
        main {
            display: flex;
            min-height: 100%;
        }
        .base_container {
            min-height: 100%;
        }
    </style>

    {% comment %} <script src="{% static 'chat/js/script.js' %}"></script> {% endcomment %}
</head>
<body>
<main>
    <div class="container-fluid base_container">
        <div class="row flex-nowrap h-100">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <a href="/"
                       class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="{% url 'chat:panel' %}" class="nav-link align-middle px-0 text-white">
                                <i class="fs-4 bi-person-fill"></i> <span
                                    class="ms-1 d-none d-sm-inline">Адміністратори</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle me-2" style="font-size: 30px;"></i>
                            <span class="d-none d-sm-inline me-1">{{ user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="{% url 'chat:settings' %}">Settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'chat:logout' %}">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {#<div class="container">#}
    {#    <nav class="sidebar">#}
    {#        <ul>#}
    {#            <li><a href="{% url 'chat:admins_panel' %}">Адміністратори</a></li>#}
    {#          <li><a href="{% url '' %}">Вчителі</a></li>#}
    {#          <li><a href="{% url '' %}">Учні</a></li>#}
    {#          <li><a href="{% url '' %}">Вхідні повідомлення</a></li>#}
    {#          <li><a href="{% url '' %}">Чати &gt; Вчителі - Учні</a></li>#}
    {#          <li><a href="{% url '' %}">Чати &gt; Адміни - Учні</a></li>#}
    {#        </ul>#}
    {#    </nav>#}
    {##}
    {#    <div class="main-content">#}
    {#        {% block content %}{% endblock %}#}
    {#    </div>#}
    {#</div>#}
</main>
<script src="{% static 'chat/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'chat/js/script.js' %}"></script>
</body>
</html>
