{% extends "chat/layouts/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ title }}</h1>
        <div class="list-group">
            {% if chats %}
                {% if chat_with == "telegram_users" %}
                    {% for chat in chats %}
                        <a href="{% url 'chat:chat_room' 'telegram_user' chat.pk %}" class="list-group-item list-group-item-action">
                            <div>
                                {% if user.role == "site_administrator" %}
                                    <strong>Користувач №{{ chat.telegram_user.pk }}</strong>
                                {% elif user.role == "super_administrator" %}
                                    <strong>{{ chat.telegram_user.username }}</strong>
                                {% endif %}
                                <p>{{ chat.last_message }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% elif chat_with == "students" %}
                    {% for chat in chats %}
                        <a href="{% url 'chat:chat_room' 'student' chat.pk %}" class="list-group-item list-group-item-action">
                            <div>
                                {% if user.role == "site_administrator" or user.role == "teacher" %}
                                    <strong>Користувач №{{ chat.student.pk }}</strong>
                                {% elif user.role == "super_administrator" %}
                                    <strong>{{ chat.student.username }}</strong>
                                {% endif %}
                                <p>{{ chat.last_message }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            {% else %}
                <p>Вхідних повідомлень немає</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}