{% extends "chat/layouts/base.html" %}


{% block title %}Панель{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Список {{ title }}</h1>
        <a href="{% url 'chat:create' page %}" class="btn btn-primary mb-4">Створити {{ button_create_name }} Аккаунт</a>

        {% include "chat/layouts/alert.html" %}

        {% if custom_users %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    {% if request.user.role == "super_administrator" %}
                    <th>Логін</th>
                    <th>Телеграм</th>
                    <th>Послідня активність</th>
                    <th>Дії</th>
                    {% else %}
                    <th>Ім'я & Прізвище</th>
                    {% endif %}
                    {% if page == "teachers" %}
                    <th>Зв'язок з вчителем</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for custom_user in custom_users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ custom_user.first_name }} {{ custom_user.last_name }}</td>
                        {% if request.user.role == "super_administrator" %}
                            <td>{{ custom_user.username }}</td>
                            <td>{% if custom_user.telegram %}{{ custom_user.telegram }}{% else %}-{% endif %}</td>
                        {% endif %}
                        {% if page == "teachers" %}
                        <td>
                            <a href="{% url 'chat:chat_room' 'teacher' custom_user.pk %}" class="btn btn-primary">Написати</a>
                        </td>
                        {% endif %}
                        {% if request.user.role == "super_administrator" %}
                        <td>{% if custom_user.last_login %}{{ custom_user.last_login }}{% else %}-{% endif %}</td>
                        <td>
                            {% if page == "teachers" %}
                                <form method="post" action="{% url 'chat:edit_students' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-info btn-sm mb-1">Учні</button>
                                </form>
                            {% endif %}
                            <form method="post" action="{% url 'chat:remove' page custom_user.pk %}"
                                  onsubmit="return confirm('Ви впевнені, що хочете видалити цей аккаунт?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm mb-1">Видалити</button>
                            </form>
                            <button class="btn btn-warning btn-sm change-telegram-btn mb-1"
                                    data-user-id="{{ custom_user.pk }}">Змінити Telegram
                            </button>
                        </td>
                        {% endif%}
                    </tr>
                    <tr id="telegram-form-{{ custom_user.pk }}" class="d-none">
                        <td colspan="6">
                            <form method="post" action="{% url 'chat:update_telegram' page custom_user.pk %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <div class="d-flex flex-row align-items-center">
                                        {{ update_tg_form.telegram }}
                                        <button type="submit" class="btn btn-success ms-3">Оновити</button>
                                        <button type="button" class="btn btn-secondary ms-2 hide-telegram-btn"
                                                data-user-id="{{ custom_user.pk }}">Сховати
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Немає {{ title }} для відображення.</p>
        {% endif %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const changeButtons = document.querySelectorAll(".change-telegram-btn");
            const hideButtons = document.querySelectorAll(".hide-telegram-btn");

            // Показати форму
            changeButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const userId = this.dataset.userId;
                    const formRow = document.getElementById(`telegram-form-${userId}`);
                    if (formRow.classList.contains("d-none")) {
                        formRow.classList.remove("d-none");
                    } else {
                        formRow.classList.add("d-none");
                    }
                });
            });

            // Сховати форму
            hideButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const userId = this.dataset.userId;
                    const formRow = document.getElementById(`telegram-form-${userId}`);
                    formRow.classList.add("d-none");
                });
            });
        });
    </script>
{% endblock content %}
