<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
        <a href="/chat/static"
           class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu">
            {% if user.role == "super_administrator" %}
            <li class="nav-item">
                <a href="{% url 'chat:panel' 'admins' %}" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-person-fill"></i>
                    <span class="ms-1 d-none d-sm-inline">Адміністратори</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'chat:panel' 'students' %}" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-mortarboard-fill"></i>
                    <span class="ms-1 d-none d-sm-inline">Учні</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'chat:telegram_users' %}" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-telegram"></i>
                    <span class="ms-1 d-none d-sm-inline">Телеграм</span>
                </a>
            </li>
            {% endif %}
            {% if user.role == "site_administrator" or user.role == "super_administrator" %}
            <li class="nav-item">
                <a href="{% url 'chat:panel' 'teachers' %}" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-person-badge-fill"></i>
                    <span class="ms-1 d-none d-sm-inline">Вчителі</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'chat:system_actions' %}" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-book-fill"></i>
                    <span class="ms-1 d-none d-sm-inline">Системні дії</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'chat:inbox' %}" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-book-fill"></i>
                    <span class="ms-1 d-none d-sm-inline">Вхідні повідомлення</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'chat:chat_list' 'telegram_users' %}" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-chat-dots-fill"></i>
                    <span class="ms-1 d-none d-sm-inline">Чати з телеграм користувачами</span>
                </a>
            </li>
            {% endif %}
            {% if user.role == "site_administrator" or user.role == "super_administrator" or user.role == "teacher" %}
            <li class="nav-item">
                <a href="{% url 'chat:chat_list' 'teacher' %}" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-chat-dots-fill"></i>
                    {% if user.role == "site_administrator" or user.role == "super_administrator" %}
                    <span class="ms-1 d-none d-sm-inline">Чати з вчителями</span>
                    {% elif user.role == "teacher" %}
                    <span class="ms-1 d-none d-sm-inline">Чати з адміністрацією</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'chat:chat_list' 'students' %}" class="nav-link align-middle px-0 text-white">
                    <i class="fs-4 bi-chat-dots-fill"></i>
                    <span class="ms-1 d-none d-sm-inline">Чати з учнями</span>
                </a>
            </li>
            {% endif %}
        </ul>
        <hr>
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle me-2" style="font-size: 30px;"></i>
                <span class="d-none d-sm-inline me-1">{{ user.username }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{% url 'chat:settings' %}">Settings</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'chat:logout' %}">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>