{% extends "chat/base.html" %}

{% block title %}Адміністратори{% endblock title %}

{% block content %}
    <div class="admins-container">
        <h1>Список Адміністраторів</h1>
        <button class="create-admin-btn"><a href="{% url "chat:create_admin" %}">Створити Адмін Аккаунт</a></button>
        <div class="admins-list">
            {% if custom_users %}
                {% for custom_user in custom_users %}
                    <div class="admin">
                        <span class="admin-name">{{ custom_user.first_name }} {{ custom_user.last_name }} {{ custom_user.username }}</span>
                        <button class="delete-btn">Видалити</button>
                    </div>
                {% endfor %}
            {% endif %} 
        </div>
    </div>
{% endblock content %}