{% extends "chat/base.html" %}

{% block title %}Створити адміністратора{% endblock title %}

{% block content %}
    <h1>Створити адміністратора</h1>
    <div class="admins-container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Введіть username" required>
            </div>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" placeholder="Введіть ім'я" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" placeholder="Введіть прізвище" required>
            </div>
            <div class="form-group">
                <label for="telegram">Telegram</label>
                <input type="text" id="telegram" name="telegram" placeholder="Введіть Telegram нік" required>
            </div>
            <button type="submit" class="create-admin-btn">Створити</button>
        </form>
    </div>
{% endblock content %}